@page
@model FaurDanielProiect.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Antrenor[0].prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antrenor[0].nume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Antrenor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
